.header {
  margin-left: auto;
  margin-right: auto;
}
.title {
  letter-spacing: 0;
  font-style: normal;
  font-size: 30px;
  cursor: pointer;
  margin-left: 65px;
  margin-top: 15px;
  font-weight: bold;
  font-style: oblique;
}
.search-button {
  float: right;
  margin-right: 400px;
  margin-top: -30px;
}
.home {
  font-size: 30px;
  text-decoration: none;
  color: blue;
  margin-left: 60px;
  font-style: italic;
  cursor: pointer;
}
.image-1 {
  margin-top: 32px;
  width: 450px;
  height: 151px;
  margin-left: 60px;
}
