.image-1 {
  margin-top: 32px;
  width: 450px;
  height: 151px;
  margin-left: 60px;
  cursor: pointer;
}
.para-1 {
  margin-left: 65px;
  cursor: pointer;
}
.para-2 {
  margin-left: 65px;
  margin-top: -10px;
  font-family: "Courier New", Courier, monospace;
  color: grey;
  cursor: pointer;
}
