.router {
  width: 1000px;
  padding: 55px;
  margin-left: 100px;
  text-decoration: none;
}
.create {
  margin-left: 20px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  border: 2px solid blue;
}
.home {
  margin-left: 20px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.login-signup {
  float: right;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 14px 20px;
  background: #4caf50;
  color: white;
  cursor: pointer;
}
.login-signup:hover {
  opacity: 0.8;
}
.logged-out {
  margin-top: 170px;
  font-size: 30px;
  color: blue;
}
