.router {
  width: 1000px;
  padding: 55px;
  margin-left: 100px;
  text-decoration: none;
}
.create {
  margin-left: 20px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  border: 2px solid blue;
}
.home {
  margin-left: 20px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.login-signup {
  float: right;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  border: 2px solid violet;
  padding: 7px;
  background: lightsalmon;
}
.login-signup:hover {
  background: lightblue;
}
